################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs/DeepSightAI
/Bin
/DeepSightAI/bin
/DeepSightAI/obj
/DeepSightAI/Resources
/DeepSightCommunication/bin
/DeepSightCommunication/obj
/DeepSightDB/bin
/DeepSightDB/obj
/DeepSightDisplay/bin
/DeepSightDisplay/obj
/DeepSightEvent/bin
/DeepSightEvent/obj
/DeepSightModel/bin
/DeepSightModel/obj
/DeepSightTool/bin
/DeepSightTool/obj
/DeepSightWorkLib/bin
/DeepSightWorkLib/obj
/packages
/.vs/CopilotSnapshots/A5B296874CCF0348B5FE56F08A045DB7
/.vs/CopilotSnapshots/72D9717FBAB6374E8EAC9DC5D605F2E4
/.vs/CopilotSnapshots
/DeepSightHeatMap/bin/Debug
/DeepSightHeatMap/obj/Debug
/DeepSightHeatMap/.vs
/DeepsightSqlite/bin/Debug
/DeepsightSqlite/obj/Debug
/DeepsightSqlite/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/LogInfo
/.vs
/.vscode
/DeepSightWorkLib/.vs
*.zip
/DeepSightHeatMap/obj/Release/DeepSightHeatMap.csproj.AssemblyReference.cache
/TemplateImages/NYA2636
